.songpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.interactions {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.interactions button {
    font-family: 'Inter', sans-serif;;
    background-color: #af0cff;
    border:solid 2.3px #af0cff;
    border-radius: 5px;
    height: 38px;
    width: 70px;
    font-size: large;
    cursor: pointer;
    transition: all 0.5s;
}
.interactions button:hover {
    background-color: #DB17E8;
    border:solid 2.3px #DB17E8;
}

.songpage img {
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.songpage img:hover {
    box-shadow: 0 0 5px #aaa;
}
.songpage i{
    cursor: pointer;
}
.ifOwned {
    display: flex;
    align-items: center;
    gap: 20px;
}
.ifOwned h3 {
    color: rgb(153, 63, 63);
    cursor: pointer;
    transition: all .5s;
}
.ifOwned h3:hover {
    color: rgb(202, 39, 39);
}
.ifOwned a {
    text-decoration: none;
    color: #aaa;
    font-weight: 1000;
    transition: all .5s;
}
.ifOwned a:hover{
    color: white;
}
