.player {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    background-color: #171717;
    width: 100vw;
}

.rhap_container {
    background: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
  }
  .rhap_main.rhap_horizontal-reverse {
      width: 80vw;

  }
.player .songinfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.player p {
    width: 100px;
    font-size: 15.5px;
}
