.navbar {
    background-color:#151515;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px 13%;
    list-style: none;
    gap: 20px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #303030;
}
.navlinks {
    text-decoration: none;
    color: #606060;
    width: 80px;
    text-align: center;
    justify-self: center;
    padding: 8px;
    font-size: larger;
    cursor: pointer;
}
.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlinks.sign {
    border-radius: 12px;
    background-color: #af0cff;
    border:solid 2.3px #af0cff;
    color: #151515;
    transition: all 0.5s;
}
.navlinks.sign:hover {
    background-color: #DB17E8;
    border:solid 2.3px #DB17E8;
    font-size: 110%;
}
.icon {
    margin-left: -100px;
}
