.navbar {
    background-color: #171717;
    margin: auto;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px 13%;
    list-style: none;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #303030;
    z-index: 1;
}
.navlinks {
    text-decoration: none;
    color: #606060;
    text-align: center;
    justify-self: center;
    padding: 3px;
    font-size: medium;
    cursor: pointer;
    transition: color .3s ease;
}
.navlinks:hover {
    color: white;
}
.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.navlinks.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #af0cff;
    border:solid 2.3px #af0cff;
    color: #151515;
    width: 75px;
    height: 25px;
    transition: all 0.5s;
}
.navlinks.sign:hover {
    background-color: #DB17E8;
    border:solid 2.3px #DB17E8;
    font-size: 97%;
}
.icon {
    margin-left: -100px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #171717;
    padding: 25px;
    border-radius: 6px;
    color: #606060;
}
.dropdown button {
    background-color: #af0cff;
    border:solid 2.3px #af0cff;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.5s;
    cursor: pointer;
    justify-self: flex-end;
    align-self: flex-end;
    font-size: medium;
    font-family: 'Inter', sans-serif;;
    padding: 3px 9px;
}
.dropdown button:hover {
    background-color: #DB17E8;
    border:solid 2.3px #DB17E8;
}
.profile-dropdown > div {
    padding: 5px;
    font-size: large;
}
